body{
	width:1150px;
	margin: 0 auto;
	position: relative;
}

#muscle_map {
	background-image: url(img/all-muscle.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: 560px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 560px;
	height: 496px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
}

/*#muscle_map img{
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 0px;
	width: 425px;
}*/

#list_of_part{
	display: inline-block;
	float: left;
	/*margin-left: 300px;*/
	/*margin-left: 800px;*/
}

#list_of_part ul{
	list-style-type: none;
	margin-top: 20px;
}

#list_of_part ul li{
	position: relative;
	width: 200px;
	margin:0px;
}

#list_of_part ul span{
	width: 180px;
	margin-bottom: 30px;
}

#list_of_part ul li ul{
	display: none;
}

#list_of_part ul li ul li{
	margin-bottom:5px;
	margin-right: 5px;
	width: 160px;
}

#list_of_part ul li:hover ul{
	display: inline-block;
	position: absolute;
	right: 200px;
	top: -20px;
}

#history{
	border: 1px solid #ccc;
	border-radius: 4px;
	float: right;
	position: absolute;
	width: 300px;
	height: 720px;
	top: 20px;
	right: 15px;
	padding-left:20px;
}

#today_workout{
	margin-top: 20px;
	padding-left:20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 777px;
	height: 200px;
	margin-left: 40px;
}

.add {
	width: 150px;
	list-style-type: none;
	margin-left: 20px;
}
